@media ((min-width: 320px) and (max-width:678px)) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .abaEsquerda {
        width: 19rem;
        height: auto;
        display: flex;
        align-items: center;
    }

    .abaEsquerda #fotoPerfil {
        width: 15rem;
    }

    .abaEsquerda #nome {
        font-size: 1.8rem;
        word-wrap: break-word;
        max-width: 18rem;
    }
    .descricao p{
        text-align: center;
        width: 100%;
    }
    .extras{
        margin-right: 2rem;
    }

    .extras h2 {
        font-size: 1rem;
    }

    /* ABA DIEITA */
    .abaDireita {
        width: 19rem;
        height: auto;
        display: flex;
        align-items: center;
    }
    h2{
        font-size: 2.3rem; 
    }
    .habilidades {
        margin-right: 1rem;
    }
    .habilidades h2{
        margin-left: 1rem;
    }
}
@media ((min-width: 678px) and (max-width:1024px)){
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .abaEsquerda{
        width: 42vw;
    }
    .abaEsquerda #fotoPerfil{
        width: 15rem;
    }
    .abaEsquerda #nome {
        font-size: 1.8rem;
        word-wrap: break-word;
        max-width: 18rem;
    }
    .descricao p{
        text-align: center;
        width: 100%;
    }
    .extras h2 {
        font-size: 1rem;
    }
    .abaDireita{
        width: 42vw;
        margin-right: 2rem;
    }
}